{% extends "layout.html" %}
{% load i18n %}

{% block content %}
<h1>Войти</h1>

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="mb-3">
    <input
      type="text"
      name="username"
      placeholder="Имя пользователя"
      class="form-control"
      required
      autofocus
    />
  </div>
  <div class="mb-3">
    <input
      type="password"
      name="password"
      placeholder="Пароль"
      class="form-control"
      required
    />
  </div>

  <button type="submit" class="btn btn-primary">Войти</button>
</form>
{% endblock %}