{% extends 'base.html' %}
{% block content %}
<h1>Пользователи</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя пользователя</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>
        <a href="{% url 'users:update' user.pk %}">Изменить</a>
        <a href="{% url 'users:delete' user.pk %}">Удалить</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3"><a href="{% url 'users:create' %}">Зарегистрировать нового пользователя</a></td>
    </tr>
  </tfoot>
 </table>
{% endblock %}


